html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("blossom-tree.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding-top: 20px;
    font-family: sans-serif;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: rgb(138, 51, 77);
    text-shadow: -2px 2px 7px rgb(248, 218, 227);
}

h2,h4,p{
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(138, 51, 77);
}


button {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 20px;
    padding: 2%;
    border-radius: 10%;
    position: relative;
}

#no-button {
    background-color: rgb(138, 51, 77);
    color: rgb(224, 145, 169);
    border: 2px solid #570541;
    transition: transform 0.15s ease;
    
}

#yes-button {
    background-color: rgb(227, 146, 170);
    color: rgb(138, 51, 77);
    border: 2px solid rgb(138, 51, 77);
    cursor: pointer;
    animation: pulse 1.5s infinite;
}

@keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

#question,
#success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgba(255, 255, 255, 0.15);
    background-color: rgb(239, 169, 190);
    padding: 50px 70px;
    border-radius: 40px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.25);
    border: solid 7px;
    border-color: rgb(138, 51, 77);
    gap: 10px; 
}
#success {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
    animation: fadeIn 0.6s ease forwards;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.confetti {
    position: fixed;
    width: 10px;
    height: 10px;
    top: -10px;
    animation: fall linear forwards;
    pointer-events: none;
}

@keyframes fall {
    to {
        transform: translateY(110vh) rotate(720deg);
        opacity: 0;
    }
}

.gif-card {
    border-radius: 20px;
    box-shadow:
        0 0 20px rgba(255, 182, 193, 0.8),
        0 0 40px rgba(255, 105, 180, 0.6);
}